@import './atoms/colors.scss';
@import './components/nav.scss';
@import './components/post.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.root {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: #4F4F4F;// #64788a;
}

.wrapper {
  width: calc(100vw + var(--nav-w));
  height: 100vh;
  transition: transform .25s 0s ease-in-out;
  will-change: transform;
  transform: translateX(calc(var(--nav-w) * -1)) translateZ(0);
  display: flex;
  flex-flow: row nowrap;
  backface-visibility: hidden;  
}

.open {
  transform: translateX(0);

  .nav__form__burger {
    transform: translateX(0);
  }

  .content {
    transform: none;
  }
}

.content {
  width: 100vw;
  transition: transform .25s 0s ease-in-out;
  overflow-y: auto;

  @include desktop {
    transform: translateX(calc(50vw - 50%));
    width: calc(100vw - var(--nav-w));
  }
  
  &__ph {
    font-size: 2rem;
    text-align: center;
    line-height: 100vh;
    text-transform: capitalize;
    font-weight: 200;
  }
}