:root {
  --header-fs: 16px;
  --header-after-y: 10px;
}

.header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, var(--header-after-y));
    width: 50%;
    height: 2px;
    border-radius: 8px;
    background-color: $dark-grey;
    will-change: transform;
  }
 
  &--small {
    --header-fs: 10px;

    &::after {
      left: 0;
      transform: translateY(var(--header-after-y));
    }
  }

  &__text {
    font-weight: 100;
    font-size: calc(var(--header-fs) * 3);
  }

  &__bottom {
    font-size: calc(var(--header-fs) * 1.5);

    &__author {
      font-size: inherit;
      margin-right: 10px;
    }
  
    &__date {
      font-size: inherit;
    }
  }
}

.post {
  
}