@import '../atoms/breakpoints.scss';

:root {
  --header-fs: 16px;
  --header-after-y: 20px;
  --post-body-w: calc(50vw - var(--nav-w) / 2);
}

.header {
  position: relative;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, var(--header-after-y));
    width: 33%;
    height: 2px;
    border-radius: 8px;
    background-color: $dark-grey;
    will-change: transform;
  }
 
  &--small {
    &::after {
      left: 0;
      transform: translateY(var(--header-after-y));
    }

    * {
      text-align: left;
    }

    .header {
      &__text {
        font-size: 30px;
      }

      &__bottom {
        font-size: 20px;
      }
    }
  }

  &__text {
    font-weight: 100;
    font-size: 3rem;
  }

  &__bottom {
    font-size: 1.3rem;

    &__author {
      font-size: inherit;
      margin-right: 10px;
    }
  
    &__date {
      font-size: inherit;
    }
  }
}

.post {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fbfbfb;
  padding: 20px 0;

  @include desktop {
    width: calc(100vw - var(--nav-w));
  }

  &__body {
    width: 100%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    white-space: pre-line;
    font-size: 1rem;

    @include desktop {
      width: 40rem;
    }
  }
}